@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=PT+Sans+Narrow:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.first_page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./dawat-images/promo_slide_2.jpg");
  background-size: cover;
  animation: slide 10s infinite;
  height: 90vh;
  color: #ffffff;
  position: relative;
}
@keyframes slide {
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("./dawat-images/promo_slide_1.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("./dawat-images/promo_slide_2.jpg");
  }

  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("./dawat-images/promo_slide_3.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("./dawat-images/promo_slide_2.jpg");
  }
}

.first_page::after {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #333 25%, transparent 25%),
    linear-gradient(-135deg, #333 25%, transparent 25%);
  background-repeat: repeat-x;
  background-size: 20px 20px;
  bottom: -20px;
  width: 100%;
  height: 20px;
}

.slides {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header1 {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0px 15%;
  font-size: 0.75em;
}
.header1 span,
.header1 i {
  margin: 10px;
}
.header1 button {
  padding: 8px 25px;
  color: #ffffff;

  background-color: #ca3d26;
}
header div {
  display: inline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.header2 {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  top: 0;
}

.makefixed{
  position: fixed;
  z-index: 20;
  background-color: #ffffff;
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
}

.header2 img {
  margin: 10px;
}

.makefixed:after {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(-135deg, #ffffff 25%, transparent 25%);
  background-repeat: repeat-x;
  background-size: 20px 20px;
  bottom: -20px;
  left: 0px;
  width: 100%;
  height: 20px;
}

.nav_links {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.nav_links a {
  font-size: 0.75em;
}
a,
a:hover,
a:visited,
a:active {
  padding: 40px 0px;
  color: inherit;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  /* font-family: 'PT Sans Narrow', sans-serif; */
}

a:hover {
  border-top: 5px solid #ca3d26;
}
.slides {
  display: flex;
  flex-direction: column;
}

.slides span:nth-child(1) {
  font-family: "Dancing Script", cursive;
  font-size: 4em;
}
.slides span:nth-child(2) {
  /* font-family: 'Lato', sans-serif; */
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 3em;
}
.slides button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid white;
}

.story {
  height: 78vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story h1 {
  font-size: 4em;
  font-family: "Dancing Script", cursive;
  color: #ca3d26;
  padding: 40px 0;
}

.story_img {
  width: 100%;
  height: 60%;
  z-index: 8;
  position: relative;
  top: -70px;
}
.sign_img {
  width: 250px;
  height: 100px;
  z-index: 10;
  position: relative;
  top: 80px;
}
.split_text {
  font-size: 1em;
  padding: 0px 10%;
  columns: 2;
  font-family: "Lato", sans-serif;
}

.special_offer {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./dawat-images/promo_slide_2.jpg");
  /* animation: slide 10s infinite; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-family: "Lato", sans-serif;
  position: relative;
}

.special_offer::after {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #333 25%, transparent 25%),
    linear-gradient(-135deg, #333 25%, transparent 25%);
  background-repeat: repeat-x;
  background-size: 20px 20px;
  bottom: -20px;
  width: 100%;
  height: 20px;
}
.special_offer::before {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(-135deg, #ffffff 25%, transparent 25%);
  background-size: 20px 20px;
  top: 0px;
  width: 100%;
  height: 20px;
}

.heading {
  height: 30%;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
  color: #ca3d26;
}

.promo1 {
  width: 800px;
  height: 450px;
  margin-left: 30%;
  position: relative;
}

.card {
  width: 60%;
  height: 40%;
  background-color: white;
  position: relative;
  top: -50%;
  right: -115%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  /* font-weight: 900; */
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
}

.order-now {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ca3d26;
  color: #ca3d26;
  /* font-family: 'Lato', sans-serif; */
  font-family: "PT Sans Narrow", sans-serif;
  position: relative;
  right: 150px;
  top: 20px;
}

.book-table {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./dawat-images/promo_slide_2.jpg");
  background-size: cover;
  height: 90vh;
  color: #ffffff;
  font-size: 2em;

  font-family: "PT Sans Narrow", sans-serif;

  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  position: relative;
}

.book-table::after {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #333 25%, transparent 25%),
    linear-gradient(-135deg, #333 25%, transparent 25%);
  background-repeat: repeat-x;
  background-size: 20px 20px;
  bottom: -20px;
  width: 100%;
  height: 20px;
}
.book-table::before {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(-135deg, #ffffff 25%, transparent 25%);
  background-size: 20px 20px;
  top: 0px;
  width: 100%;
  height: 20px;
}

.book-table div h5 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
}
.book-table button {
  color: #ca3d26;
  border: solid 1px black;
  padding: 10px 40px;
  font-size: 0.5em;
  font-weight: 900;
  font-family: "PT Sans Narrow", sans-serif;
  margin-top: 40px;
}

.book-table button:hover {
  background-color: #ca3d26;
  color: #ffffff;
}

.book-table div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chef-list,
.news-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chef_parent {
  height: 350px;
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 100px;
}

.chef_description,
.news_description {
  text-align: center;
  font-size: small;
  font-family: "Lato", sans-serif;
}

.chef_name {
  margin: 20px 0;
  font-family: "PT Sans Narrow", sans-serif;
  /* font-weight: 900; */
}

.chef_img {
  display: flex;
}

.social_media {
  width: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  right: 30px;
  visibility: hidden;
}

.chef_img:hover .social_media {
  visibility: visible;
}
.chef_img:hover img {
  filter: brightness(70%);
}

.social_media i:hover {
  color: #ca3d26;
}

.news {
  width: 100vw;
  height: 120vh;
  background-color: rgb(93, 185, 121);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./dawat-images/promo_slide_3.jpg");
  background-size: cover;
  position: relative;
}

.news::after {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #333 25%, transparent 25%),
    linear-gradient(-135deg, #333 25%, transparent 25%);
  background-repeat: repeat-x;
  background-size: 20px 20px;
  bottom: -20px;
  width: 100%;
  height: 20px;
}
.news::before {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(-135deg, #ffffff 25%, transparent 25%);
  background-size: 20px 20px;
  top: 0px;
  width: 100%;
  height: 20px;
}

.news_parent {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0px 5px 100px 5px;
  background-color: #ffffff;
}
.news_img img {
  height: 275px;
  width: 350px;
}
.news_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 350px;
  padding: 5px 30px 30px 30px;
}

.news-list {
  padding-top: 40px;
}

.gallery {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./dawat-images/image_2021_08_03T10_44_47_432Z.png");
  background-size: cover;
  height: 80vh;
  color: #ffffff;
  width: 100vw;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  position: relative;
}

.footer::before {
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(-135deg, #ffffff 25%, transparent 25%);
  background-size: 20px 20px;
  top: 0px;
  width: 100%;
  height: 20px;
}

.footer .about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .about img {
  margin-bottom: 40px;
}

.makered {
  color: #ca3d26;
}
.contact_links i {
  margin: 20px 20px;
}
.addpdright {
  padding-right: 10px;
}
.addmgbtm {
  margin-bottom: 15px;
}

.others {
  padding: 20px 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  width: 100vw;
  /* height: 120vh; */
}
.category {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.category button {
  background-color: white;
  color: rgb(39, 25, 25);
  font-size: 1em;
  border: 1px solid black;
  margin: 0 5px;
  font-family: "PT Sans Narrow", sans-serif;
  padding: 4px 8px;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}

.category button:focus,
.category button:hover {
  background-color: #ca3d26;
  color: #ffffff;
}

.dishes {
  width: 100vw;
  /* margin-left: 50px; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  /* justify-content: center;  */
}

.dish-container {
  display: flex;
  border-bottom: 1px solid rgb(214, 210, 210);
  padding: 20px 0;
}

.pic-container {
  display: inline;
}
.pic {
  border-radius: 50%;
  border: 10px solid rgb(214, 207, 207);
}
.dish_details {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.ingredients {
  width: 30vw;
  /* 500px */
  display: flex;
  justify-content: space-between;
}
.ingredients .name {
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1em;
  /* font-weight: 900; */
}
.ingredients .price {
  color: #ca3d26;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1em;
}

.contents {
  /* width: 100%; */
  /* columns: 3; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.contents span {
  width: 8vw;
}

/*

font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;

long arrow up  <i class="fas fa-long-arrow-alt-up"></i>
<i class="fab fa-instagram"></i>
<i class="fas fa-basketball-ball"></i>

*/
